<p id="notice"><%= notice %></p>

<p>
  <strong>Club:</strong>
  <%= @player_history.club %>
</p>

<p>
  <strong>Period:</strong>
  <%= @player_history.period %>
</p>

<p>
  <strong>Performance:</strong>
  <%= @player_history.performance %>
</p>

<p>
  <strong>Player:</strong>
  <%= @player_history.player %>
</p>

