<div class = "row">
	<div class=pull-right range-query">
		<%= form_tag pictures_path, method: :get do %>
		<%= text_field_tag 'search[name]', @search.name %>
		<%= submit_tag 'Search', class: "btn search-button" %>
		<% end %>
	</div>
</div>

<%#= render 'home/top' unless user_signed_in? %>
<div id="picture" class="transitions-enabled" >
<% @pictures.each do |picture| %>
    <div class="box">
        <div class="panel panel-default">
	    <%= link_to image_tag(picture.image.url(:medium)), picture %></br>
	       <div class="panel-body">
		      <%= picture.description %></br>
		      <em><%= picture.user.name %></em></br>
		    </div>
	        <div class="panel-footer">
	          <% if(picture.user == current_user) %>
	          	<%= link_to 'Edit', edit_picture_path(picture) %>
	          	<%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></br>
	          <% end %>
	        </div>	
        </div>
    </div>
<% end %>
</div>
<div class="center">
<%= will_paginate @pictures, renderer: BootstrapPagination::Rails %>
</div>